@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

body {
  color: #fff;
}

header {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
}

.logo {
  padding-top: 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

svg {
  margin-left: 60%;
  font-size: 0.5rem;
}

.cancel {
  display: none;
}

main h1,
h3 {
  margin: 0;
  padding: 0;
}

main {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
  padding: 80px 30px;
  margin: -1px auto;
  height: 45vh;
}

main h3 {
  margin-top: 90px;
}

.tour {
  text-decoration: none;
  display: inline-block;
  font-weight: 900;
  margin-top: 30px;
  padding: 10px 50px;
  border: 2px solid rgb(250, 246, 246);
  background-color: #fc6767;
  border-radius: 20px;
  color: white;
}

nav {
  display: flex;
  padding: 20px;
}

ul {
  display: none;
  margin: 0;
}

.menu {
  position: absolute;
  display: block;
  width: 50%;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  background: #020202b4;
  padding: 20px;
  color: #fff;
}

ul li a {
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}
ul li a:hover {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #fc6767;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

section {
  color: rgb(29, 26, 26);
  padding: 20px;
}

section h1 {
  color: rgb(15, 15, 15);
}

#container {
  margin: 0 auto;
}

  #about #container .row{
   display: grid;
   /* grid-gap: 20px; */
  }
  #about #container .col{
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 15px;
  }

  .col img {
    width: 100%;
    margin-bottom: 10px;
  }

#hotels {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
  color: #fff;
}

#hotels h1 {
  color: #fff;
}
#hotels p {
  margin-bottom: 25px;
}

#card {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  grid-gap: 8px;
}

.cards {
  margin: 0 auto;
  width: 320px;
  height: 300px;
}

.cards img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.caption {
  position: absolute;
  color: white;
  bottom: 68%;
  margin-left: 10px;
}
.caption h3 {
  background-color: #fc6767;
  padding: 10px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}

.caption-1 {
  position: absolute;
  color: white;
  bottom: 34%;
  margin-left: 10px;
}

.caption-1 h3 {
  background-color: #fc6767;
  padding: 10px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}

.caption-2 {
  position: absolute;
  color: white;
  bottom: 1%;
  margin-left: 10px;
}

.caption-2 h3 {
  background-color: #fc6767;
  padding: 10px;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
}

/*
 * Media queries
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
.burger {
  display: none;
}

  nav {
    padding: 30px;
  }

  .logo {
    margin-left: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin-left: 40%;
    margin-top: 7px;
  }
  
  ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-transform: none;
  }

  ul li a:hover {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
  }

  main h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
  }

  main a {
    position: absolute;
    bottom: 90px;
    left: 41%;
  }

#container {
  padding: 40px;
}

  #about #container .row{
   display: grid;
   grid-gap: 20px;
  }
  #about #container .col{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-gap: 5px;
  }

  .col img {
    width: 400px;
  }

  .img-left {
    margin-left: 27%;
  }

  #hotels {
    padding: 20px 40px;
  }

  #hotels #card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .cards {
    margin: 0 auto;
    width: 350px;
    height: 300px;
  }

  .caption {
    position: absolute;
    color: white;
    top: 194px;
    margin-left: 10px;
  }
  .caption-1 {
    position: absolute;
    color: white;
    top: 194px;
    margin-left: 10px;
  }
}
    